.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .banner h1 {
    font-size: 2.5rem;
  }

  .banner p {
    font-size: 1.2rem;
  }

  .course-row {
    flex-direction: column;
    align-items: center;
  }

  .course-row img {
    width: 90%;  /* ทำให้ภาพไม่ใหญ่เกินไปบนมือถือ */
    height: auto;
  }
}


/* Responsive Design */
@media (max-width: 768px) {
  .header .logo h1 {
    font-size: 20px;
  }

  .activities {
    flex-direction: column;
  }

  .activities img {
    width: 100%;
    max-width: 300px;
  }

  .contact form {
    width: 100%;
  }
}
/* Example CSS */
header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
